In [89]:
import pandas as pd
from pandas.io.json import build_table_schema
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import missingno as msno
import numpy as np
import scipy as sp
import os
import datetime
#import xgboost as xgb
# import visualization as vis
from pandas.plotting import scatter_matrix
import warnings
%matplotlib inline

In [90]:
train = pd.read_csv('train_cleaned.csv')
test = pd.read_csv('test_cleaned.csv')

In [91]:
#drop training rows where full_sq is missing
train = train[~train['full_sq'].isnull()]

In [92]:
#impute 5 missing full_sq in test data
test.loc[test['id'] == 30938, 'full_sq'] = 37.80
test.loc[test['id'] == 35857, 'full_sq'] = 42.07
test.loc[test['id'] == 34670, 'full_sq'] = 122.60

#np.nanmedian(test.full_sq)

test.loc[test['id'] == 36824, 'full_sq'] = 50.42
test.loc[test['id'] == 35108, 'full_sq'] = 50.42

In [93]:
#create prediction matrix
y_pred = pd.DataFrame({'id': test.id.values, 'price_doc': [0]*test.shape[0]})
print y_pred.shape
y_pred.head()

(7662, 2)

      id  price_doc
0  30474          0
1  30475          0
2  30476          0
3  30477          0
4  30478          0

In [79]:
nbhd = 'Tverskoe'
test[test['sub_area']==nbhd][['full_sq', 'id']].sort_values('full_sq')

      full_sq     id
5604    22.50  36078
3847    24.90  34321
924     25.70  31398
4598    25.80  35072
979     29.50  31453
617     30.15  31091
1404    30.41  31878
2796    30.90  33270
3144    31.10  33618
1046    32.10  31520
2629    33.17  33103
3484    33.62  33958
6134    33.76  36608
2650    33.90  33124
4592    34.00  35066
5513    34.00  35987
4837    34.10  35311
5171    34.17  35645
5246    34.17  35720
5474    34.40  35948
2992    34.40  33466
7417    34.40  37891
6943    34.80  37417
7228    35.10  37702
2994    36.29  33468
926     36.40  31400
3770    37.20  34244
755     37.30  31229
2337    37.30  32811
3848    37.60  34322
...       ...    ...
3009    82.20  33483
5365    83.10  35839
559     84.60  31033
3219    85.88  33693
2862    87.65  33336
2186    90.30  32660
1378    90.90  31852
2473    90.90  32947
120     90.90  30594
848     90.90  31322
2154    90.90  32628
2960    90.90  33434
1740    90.90  32214
1932    90.90  32406
4183    90.90  34657
370     90.90  30844
1220    90.90  31694
282     90.90  30756
5406    92.20  35880
4993    92.90  35467
6296    95.50  36770
2679    96.70  33153
65     104.28  30539
3861   117.60  34335
1267   117.60  31741
5277   118.20  35751
4723   119.00  35197
965    130.80  31439
2265   189.10  32739
5975   232.70  36449

[181 rows x 2 columns]

In [101]:
from scipy import stats
from sklearn import linear_model
ols = linear_model.LinearRegression()

y_pred = test[['id']]

for nbhd in set(train['sub_area']):
    
    
    X = train[train['sub_area']==nbhd][['full_sq']]
    y = np.log(train[train['sub_area']==nbhd][['price_doc']]+1)
    ols.fit(X,y)
    
    nbhd_test = test[test['sub_area']==nbhd][['full_sq', 'id']]
    
    if nbhd_test.shape[0] < 1:
        continue
    
    nbhd_test['predict'] = np.exp(ols.predict(nbhd_test[['full_sq']]))-1
    
    y_pred = pd.merge(left=y_pred, right=nbhd_test[['predict', 'id']], how='outer', on='id')
    
    print ols.coef_, ols.intercept_
    if ols.coef_[0] <= 0:
        print nbhd
    
y_pred.head()

[[ 0.02272872]] [ 14.5451713]
[[ 0.01588318]] [ 14.78889189]
[[ 0.01652705]] [ 14.81033432]
[[ 0.01507643]] [ 14.69588127]
[[ 0.01152994]] [ 15.19411831]
[[ 0.0129737]] [ 14.99515329]
[[ 0.01878446]] [ 14.68024394]
[[ 0.01802225]] [ 15.16956633]
[[ 0.01950666]] [ 15.00734868]
[[ 0.01252846]] [ 15.23713515]
[[ 0.01374411]] [ 15.20728565]
[[ 0.00994405]] [ 14.73834947]
[[ 0.01591258]] [ 15.46012417]
[[ 0.02171026]] [ 14.46886736]
[[ 0.00695469]] [ 14.7405428]
[[ 0.00698167]] [ 14.89563906]
[[ 0.01545126]] [ 14.64150035]
[[ 0.0113507]] [ 15.30604993]
[[ 0.01029944]] [ 14.75736358]
[[ 0.01683185]] [ 14.7127481]
[[ 0.0156229]] [ 14.7450416]
[[ 0.0102489]] [ 15.0606314]
[[ 0.01715432]] [ 14.89568398]
[[ 0.0159062]] [ 14.76934651]
[[ 0.01318382]] [ 14.78359893]
[[ 0.01693405]] [ 14.72184854]
[[-0.02547123]] [ 16.54428194]
Poselenie Shhapovskoe
[[ 0.01680851]] [ 14.94714427]
[[ 0.01095064]] [ 15.2366795]
[[ 0.01730209]] [ 14.99269091]
[[ 0.00786846]] [ 14.64163428]
[[ 0.01256977]] [ 14.76448595]
[[ 0.01516223]] [ 14.84152039]
[[ 0.01226354]] [ 15.03619879]
[[ 0.15921844]] [ 4.11713893]
[[ 0.02187794]] [ 14.5560153]
[[ 0.014148]] [ 14.66167363]
[[ 0.01388058]] [ 14.98971303]
[[ 0.01247476]] [ 15.02643822]
[[ 0.01754059]] [ 14.91873581]
[[ 0.01565849]] [ 14.85961502]
[[ 0.01069597]] [ 15.07544061]
[[ 0.01072277]] [ 15.4408007]
[[ 0.01320516]] [ 14.86806952]
[[ 0.0161378]] [ 14.83772713]
[[ 0.01245509]] [ 15.16090916]
[[ 0.01688426]] [ 15.28509996]
[[ 0.01579554]] [ 14.78129085]
[[ 0.00829252]] [ 15.05857476]
[[ 0.01537903]] [ 15.54105052]
[[ 0.]] [ 15.06254314]
Poselenie Mihajlovo-Jarcevskoe
[[ 0.00011151]] [ 15.37948184]
[[ 0.01444771]] [ 14.93927573]
[[ 0.00816253]] [ 14.84769914]
[[ 0.01720334]] [ 14.76983066]
[[ 0.0159471]] [ 14.72972657]
[[ 0.03975738]] [ 11.8018062]
[[ 0.01612604]] [ 14.82030995]
[[ 0.03287737]] [ 13.31320662]
[[ 0.01453891]] [ 14.87423296]
[[ 0.01884727]] [ 14.38697851]
[[ 0.00979312]] [ 15.54170643]
[[ 0.00386566]] [ 14.72307533]
[[ 0.0121794]] [ 15.1144426]
[[ 0.01746546]] [ 14.16402548]
[[ 0.01547099]] [ 15.01888979]
[[ 0.01415134]] [ 15.24301583]
[[ 0.0171997]] [ 13.94875624]
[[ 0.01212709]] [ 14.99300716]
[[ 0.01582891]] [ 15.00744769]
[[ 0.01773606]] [ 14.80094969]
[[ 0.01281345]] [ 15.13301104]
[[ 0.01293512]] [ 15.05735562]
[[ 0.0141352]] [ 14.79996506]
[[ 0.01051224]] [ 15.0960099]
[[ 0.0132525]] [ 15.03986896]
[[ 0.01534146]] [ 14.92717522]
[[ 0.00265566]] [ 16.03273565]
[[ 0.01420246]] [ 15.10738967]
[[ 0.01724819]] [ 14.87467216]
[[ 0.01410884]] [ 14.83551401]
[[ 0.0134336]] [ 14.67617992]
[[ 0.01357697]] [ 14.89128932]
[[ 0.01768698]] [ 14.96132713]
[[ 0.01369628]] [ 14.6069858]
[[ 0.01732155]] [ 15.08282021]
[[ 0.01983051]] [ 14.52986982]
[[ 0.01666231]] [ 14.93169243]
[[ 0.01411092]] [ 14.85460169]
[[ 0.01484523]] [ 15.00984857]
[[ 0.0201658]] [ 14.7368678]
[[ 0.01339699]] [ 14.68989167]
[[ 0.01141532]] [ 15.04028239]
[[ 0.0132806]] [ 14.80609762]
[[ 0.01446007]] [ 14.85639982]
[[ 0.01261058]] [ 15.04182308]
[[ 0.01906961]] [ 14.83521165]
[[ 0.01875019]] [ 14.89675868]
[[ 0.02199867]] [ 14.45469575]
[[ 0.01505736]] [ 14.64201072]
[[ 0.01314063]] [ 14.78551459]
[[ 0.01035629]] [ 15.13817158]
[[ 0.01501014]] [ 14.89761773]
[[ 0.00323633]] [ 15.18039126]
[[ 0.02502933]] [ 14.28312739]
[[ 0.01534204]] [ 14.8290129]
[[-0.00259045]] [ 15.34312562]
Staroe Krjukovo
[[ 0.01760401]] [ 14.76585291]
[[ 0.01471712]] [ 14.45024786]
[[ 0.01989208]] [ 14.80469512]
[[ 0.01423445]] [ 14.65156226]
[[ 0.01560717]] [ 14.88672485]
[[ 0.01847564]] [ 14.87980021]
[[ 0.01453339]] [ 15.14706717]
[[ 0.01346238]] [ 14.96057016]
[[ 0.01548877]] [ 14.86498925]
[[ 0.01110964]] [ 15.41172474]
[[ 0.01512216]] [ 14.92144401]
[[ 0.00047256]] [ 14.89469966]
[[ 0.01017217]] [ 14.69149409]
[[ 0.01652338]] [ 14.94593964]
[[ 0.01332673]] [ 14.82695032]
[[ 0.01264723]] [ 14.89810724]
[[ 0.01033175]] [ 15.04756537]
[[ 0.00656534]] [ 15.76616613]
[[ 0.0135126]] [ 14.92921661]
[[ 0.01149769]] [ 14.9050321]
[[ 0.02150668]] [ 14.67948953]
[[ 0.01680033]] [ 15.0430649]
[[ 0.01267335]] [ 14.70478504]
[[ 0.01047709]] [ 15.21226437]
[[ 0.01875808]] [ 14.67079617]
[[ 0.01558205]] [ 14.86943764]
[[ 0.01466799]] [ 14.89201578]
[[ 0.01672693]] [ 14.85992104]
[[ 0.0157982]] [ 14.56736626]
[[ 0.0154506]] [ 15.16203785]
[[ 0.01368402]] [ 14.9024199]
[[ 0.01593494]] [ 14.82384664]
[[ 0.01736465]] [ 14.77946013]
[[ 0.00468594]] [ 15.01853925]
[[ 0.01474691]] [ 14.9750477]
[[ 0.01672843]] [ 14.93055138]
[[ 0.01558709]] [ 15.07507467]
[[ 0.01234628]] [ 14.86988465]

,id,predict_x,predict_y,predict_x,predict_y,predict_x,predict_y,predict_x,predict_y,predict_x,...,predict_y,predict_x,predict_y,predict_x,predict_y,predict_x,predict_y,predict_x,predict_y,predict
0,30474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
y_pred = pd.DataFrame({'id': y_pred.id.values, 'price_doc':y_pred.iloc[:, 1:].sum(axis=1)})

y_pred.head()

      id     price_doc
0  30474  4.794935e+06
1  30475  8.198590e+06
2  30476  4.910674e+06
3  30477  5.666985e+06
4  30478  4.710821e+06

In [96]:
y_pred.to_csv('linreg_by_subarea_pred.csv', index=False)

In [97]:
print np.nanmedian(y_pred['price_doc'])
print np.mean(y_pred['price_doc'])

5866099.72797
6662981.50233